extends layout.pug 

block content
  div.container
    h1.message Welcome to Blog application this app allows users to create, delete, update posts see the list and detailed pages.
    a.featured(href='/create') Create post
  footer.footer 
    p “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”